%header
  %h2
    %a{:href => "#"} TutorU
  %nav
    %li
      %a{:href => "#"} Sign In
%section.hero
  .background-image{:style => "background-image: url(/tutorapp.jpg);"}
  .hero-content-area
    %h1 TutorU
    %h3 Find a qualified tutor today!
    %a.btn{:href => "/auth/google_oauth2"} Get Started!

