%header
  %h2
    %a{:href => "#"} TutorU
  %nav
    - if signed_in?
      %li
        %a{:href => "#"}= "Logged in as: #{current_user.name}"
      %li
        %a{:href => "/logout"}= "Logout"
    - else
      %li
        %a{:href => "/auth/google_oauth2"} Login
%section.hero
  .background-image{:style => "background-image: url(/tutorapp.jpg);"}
  .hero-content-area
    %h1 TutorU
    %h3 Find a qualified tutor today!
    %a.btn{:href => "/auth/google_oauth2"} Get Started!

